- @tasks.each do |task|
  %tr
    %td= task.user_id
    %td= task.name
    %td= task.desc
    %td{'data-column-id' => "task-#{task.id}-job"}
      = job_status task.jobs.first
    %td
      = link_to 'Run', run_task_path(task), class: 'btn btn-success btn-xs', method: :post, remote: true
      = link_to 'Edit', edit_task_path(task), class: 'btn btn-primary btn-xs'
      = link_to 'Jobs', task_jobs_path(task), class: 'btn btn-primary btn-xs'
      = link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
