.row
  .col-md-2.col-sm-12
    .panel.panel-default
      .panel-heading
        Jobs
      %table.table
        %tbody.jobs-tbody= render 'jobs/jobs'
  .col-md-10.col-sm-12
    .panel.panel-default
      .panel-heading
        Tasks
        .btn-group.pull-right
          = link_to new_task_path, class: 'btn btn-xs btn-default' do
            = fa_icon 'plus'
            Add Task
          = render 'upload_from_url' if current_user.admin?
          = render 'upload_task' if current_user.admin?
      %table.table
        %thead
          %tr
            %th{ width: '25%' } Info
            %th{ width: '25%' } Desc
            %th Last Status
            %th Operations

        %tbody{'data-tasks-index-url' => tasks_url(format: :js)}= render 'tasks'
