.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %i.icon-reorder

      = link_to Setting.site, root_path, class: "navbar-brand"

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if current_user
          %li= link_to 'Tasks', tasks_path
          %li= link_to 'Enviroments', env_groups_path
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            = link_to settings_path do
              = fa_icon('cog')
              Settings
          %li
            = link_to user_path do
              = fa_icon('user')
              My Account
          %li
            = link_to destroy_user_session_path, class: "logout", method: :delete do
              = fa_icon('sign-out')
              Logout
        - else
          %li
            = link_to "Login", new_user_session_path
